{% assign featured_collection = collections[section.settings.featured_collection] %}
<div class="flex flex-col items-center my-8">
  <h1 class="text-center text-3xl">{{ section.settings.title }}</h1>
  <div class="max-w-6xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
      {% if featured_collection.products.size > 0 %}
        {% for product in featured_collection.products limit: section.settings.no-of-products-to-show %}
          {% render 'product-card', product_product: product %}
        {% endfor %}
      {% else %}
        {% for item in (1..4) %}
            {% render 'product-card-placeholder' %}
        {% endfor %}
        <p>No products found in this collection.</p>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured Collections",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collections",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Collection"
    },
    {
        "type": "range",
        "max": 10,
        "min": 4,
        "default":4,
        "id": "no-of-products-to-show",
        "label": "Number of Products to Show"
    }
  ],
  "presets": [
    {
        "name": "Featured Collection"
    }
  ]
}
{% endschema %}
